<p id="notice"><%= notice %></p>

<p>
  <b>Caption:</b>
  <%= @transaction_method.caption %>
</p>


<%= link_to 'Edit', edit_transaction_method_path(@transaction_method) %> |
<%= link_to 'Back', transaction_methods_path %>
